#foot-section {
  /* position: absolute; */
  /* bottom: 0; */
}

#foot {
  display: flex;
  justify-content: space-around;
}
.foot-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
