@import url("https://fonts.googleapis.com/css2?family=Aguafina+Script&family=Eagle+Lake&display=swap");

body {
  background: url(../images/bg-blur.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
input {
  width: 300px;
}
label {
  width: 100px;
}
#login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.login-page {
  justify-content: center;
  align-items: center;
  width: fit-content;
}
.top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shop-name h1 {
  color: #368aad;
  font-family: "Eagle Lake", cursive;
  text-shadow: 1px 1px 1px white, -1px -1px 1px white;
}
.shop-name img {
  width: 100px;
}
.email-form,
.pass-form {
  margin: none;
  padding: none;
  display: flex;
  justify-content: center;
}
.email-content,
.pass-content {
  display: flex;
  flex-direction: row;
}
.email-form input,
.pass-form input {
  color: black;
  border-radius: 0px 5px 5px 0px;
}
.email-lbl,
.pass-lbl {
  align-items: center;
}

.email-form label,
.pass-form label {
  color: white;
  text-align: center;
  align-items: center;
  border-radius: 5px 0px 0px 5px;
  background: #125667;
  height: 100%;
}
.form-check input {
  width: auto;
}
.form-check label {
  width: auto;
}
.btn-div {
  display: flex;
  justify-content: center;
}
.btn-login {
  width: 100px;
  height: 35px;
  background: #125667;
  color: white;
}
.btn:hover {
  box-shadow: 2px 2px 2px #04cdff;
  transform: translateZ(2px);
  transition: 0.5s all;
  color: black;
  font-weight: 600;
  background-color: #00ffff;
}
.form-login form {
  width: 500px;
  height: 300px;
  padding: 10px;
  border-radius: 5px;
  background: #032a3a;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form-check {
  display: flex;
  align-items: baseline;
}
