body {
  background: url(../images/bg-blur.png);
  background-repeat: repeat-y;
  background-size: cover;
  background-position: fixed;
  color: white;
}
#product {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 75vh;
  border: 1px solid white;
}
.inner-product {
  width: 80%;
  display: flex;
  align-items: center;
  background: linear-gradient(180deg, #07617c 0%, #032a3a 43.75%);
  border-radius: 5px;
}
.product-left {
  display: flex;
  justify-content: center;
  flex-basis: 50%;
  height: 100%;
  /* background: #368aad; */
}
.product-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 50%;
  background: #266784;
  color: #032a3a;
}

.product-img img {
  width: 300px;
}
.cart-btn {
  background: rgba(0, 0, 0, 0.7);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  padding: 4px 12px;
  font-family: "Exo 2", sans-serif;
}
.cart-btn:hover {
  box-shadow: 2px 2px 2px #323434;
  transform: translateZ(2px);
  transition: 0.5s all;
  color: black;
  font-weight: 600;
  background-color: #00ffff;
}
.cart-btn .fa-cart-plus {
  color: white;
}
.cart-btn:hover .fa-cart-plus {
  color: black;
}
.capacity-btn {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  border: 1px solid white;
  color: white;
  padding: 4px 12px;
  width: 100px;
}
.capacity-btn:hover {
  box-shadow: 2px 2px 2px #323434;
  transform: translateZ(2px);
  transition: 0.5s all;
  color: black;
  font-weight: 600;
  background-color: #00ffff;
}
.desc {
  font-family: cursive;
}
