{% extends 'layout.html' %}{% block css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename = 'CSS/footer.css') }}"
/>
{% endblock css %} {% block footer %}
<section id="foot-section">
  <div id="foot">
    <div id="foot-left" class="m-5">
      <div class="foot-link">
        <a href="#"
          ><i class="fa fa-whatsapp m-2">&nbsp;&nbsp;</i>https://whatsapp.com</a
        >
      </div>
      <div class="foot-link">
        <a href="#"
          ><i class="fa fa-facebook m-2">&nbsp;&nbsp;&nbsp;</i
          >https://facebook.com</a
        >
      </div>
      <div class="foot-link">
        <a href="#"
          ><i class="fa fa-instagram m-2">&nbsp;&nbsp;</i
          >https://instagram.com</a
        >
      </div>
      <div class="foot-link">
        <a href="#"
          ><i class="fa fa-twitter m-2">&nbsp;&nbsp;</i>https://twitter.com</a
        >
      </div>
    </div>
    <div
      id="foot-right"
      style="background: rgba(255, 255, 255, 0.51)"
      class="px-4"
    >
      <form action="" method="POST">
        <div class="name-content d-flex">
          <div class="name-lbl">{{ form.name.label}}</div>
          <div class="name-input">{{ form.name }}</div>
        </div>
        <div class="email-content d-flex">
          <div class="email-lbl">{{ form.email.label}}</div>
          <div class="email-input">{{ form.email }}</div>
        </div>
        <div class="phone-content d-flex">
          <div class="phone-lbl">{{ form.phone.label}}</div>
          <div class="phone-input">{{ form.phone }}</div>
        </div>
        <div class="message-content d-flex">
          <div class="message-lbl">{{ form.message.label}}</div>
          <div class="message-input">{{ form.message }}</div>
        </div>
        <div class="btn-div text-center">
          {{ form.submit(class="btn btn-submit") }}
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock footer %}
