{% extends 'layout.html' %}{% block css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename = 'CSS/nav.css') }}"
/>
{% endblock css %} {% block nav %}
<header>
  <div class="d-flex justify-content-between">
    <div class="left d-flex">
      <div class="shop-logo">
        <img src="../static/images/icon.png" alt="" />
      </div>
      <div class="shop-name mt-3">
        <h1>Reality PC</h1>
        <small class="font-logo mt-0 mx-2">Make it Real</small>
      </div>
    </div>
    <div class="right d-flex">
      <div class="profile">
        <button class="profile-btn">
          <i class="fa fa-user fa-3x" aria-hidden="true"></i>
        </button>
        <div class="profile-content">
          {% if current_user.is_authenticated %}
          <a href="{{url_for('profile')}}"
            ><i class="fa fa-user drop" aria-hidden="true"></i>&nbsp; Profile</a
          >
          <a href="{{url_for('logout')}}"
            ><i class="fa fa-sign-out drop" aria-hidden="true"></i
            >&nbsp;Logout</a
          >
          {% else %}
          <a href="{{url_for('login')}}"
            ><i class="fa fa-user drop" aria-hidden="true"></i>&nbsp;Login</a
          >
          <a href="{{url_for('register')}}"
            ><i class="fa fa-user drop" aria-hidden="true"></i>&nbsp;Register</a
          >
          {% endif %}
        </div>
      </div>
      <div class="cart-logo m-3">
        <a href="{{url_for('cart')}}"
          ><i class="fa fa-shopping-cart fa-3x" aria-hidden="true"></i
        ></a>
      </div>
    </div>
  </div>
</header>
<nav id="nav" class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <span></span>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="xyz"><i class="fa fa-bars"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <div class="navbar-nav">
        <div class="nav-item">
          <a class="nav-link" href="{{url_for('home')}}">Dashboard</a>
        </div>
        <div class="nav-item">
          <a class="nav-link" href="{{url_for('mother')}}">Motherboard</a>
        </div>
        <div class="nav-item">
          <a class="nav-link" href="{{url_for('cpu')}}">CPU'S</a>
        </div>
        <div class="nav-item">
          <a class="nav-link" href="{{url_for('gpu')}}">GPU's</a>
        </div>
        <div class="nav-item">
          <a class="nav-link" href="{{url_for('storage')}}">Storage</a>
        </div>
        <div class="nav-item">
          <a class="nav-link" href="{{url_for('powersupply')}}">Power Supply</a>
        </div>
        <div class="nav-item">
          <a class="nav-link" href="{{url_for('cooling')}}">Cooling</a>
        </div>
        <div class="nav-item">
          <a class="nav-link" href="{{url_for('cases')}}">Cases</a>
        </div>
        <div class="nav-item">
          <a class="nav-link" href="{{url_for('peripherals')}}">Peripherals</a>
        </div>
      </div>
    </div>
  </div>
</nav>
{% endblock nav %}
