{% extends 'layout.html' %} {% block css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename = 'CSS/product.css') }}"
/>
{% endblock css %} {% include 'nav.html' %}{% block content %}
<section id="product">
  <div class="inner-product">
    <div class="product-left">
      <div class="product-img">
        <img
          src="{{ url_for('static', filename='images/storage/' +product.img) }}"
          alt=""
        />
      </div>
    </div>
    <div class="product-right">
      <h3><p>{{product.name}}</p></h3>
      <div class="capacity">
        <h5>Capacity :</h5>
        <button class="capacity-btn">256GB</button>
        <button class="capacity-btn">512GB</button>
        <button class="capacity-btn">1TB</button>
        <button class="capacity-btn">2TB</button>
        <button class="capacity-btn">4TB</button>
      </div>

      <p class="desc">{{product.des}}</p>
      <p>${{product.price}}</p>

      <button class="button cart-btn">
        <i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart
      </button>
    </div>
  </div>
</section>
{% endblock content %}{% block js %}
<!-- <script src="../static/JS/home.js "></script> -->
{% endblock js %}
