{% extends "layout.html" %}
{% include 'nav.html' %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'CSS/profile.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename = 'CSS/popup.css') }}" /> 
{% endblock css %}
{% block content %}
<section id="profile">
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }} 
        <div class="register-page">
            <div class="profile-img">
                <img class="rounded-circle account-img" src="{{ image_file }}">
            </div>
                <div class="d-flex justify-content-between align-items-center">
                    {{ form.username.label(class="form-control-label") }}

                    {% if form.username.errors %}
                        {{ form.username(class="") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="") }}
                    {% endif %}
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    {{ form.email.label(class="") }}
                    {% if form.email.errors %}
                        {{ form.email(class="") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="") }}
                    {% endif %}
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    {{ form.phone.label(class="") }}
                    {% if form.phone.errors %}
                        {{ form.phone(class="") }}
                        <div class="invalid-feedback">
                            {% for error in form.phone.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.phone(class="") }}
                    {% endif %}
                </div>
                <div class="img-update d-flex">
                    {{ form.picture.label() }}
                    {{ form.picture(class="") }}
                    {% if form.picture.errors %}
                        {% for error in form.picture.errors %}
                            <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                    {% endif %}
                </div>
            <div class="d-flex justify-content-center mt-3 " onclick="on()" >
              <button class="btn"> Update</button>
            </div></div>

            <!-- ***************Overlay************* -->
        <div id="overlay">
            <div id="overlay-flex">
                <div id="popup-content">
                    <div id="popup-title">
                        Confirm your password to Update your Profile!!!!
                    </div >
                    <div id="popup-password" class="d-flex justify-content-between align-items-center mt-5">
                        {{ form.password.label(class="") }}
                        {% if form.password.errors %}
                            {{ form.password(class="") }}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.password(class="") }}
                        {% endif %}
                    </div>
                </div>
                <div id="popup-btn">
                    <div class="d-flex justify-content-center mt-3 ">
                        {{ form.submit(class="btn") }}
                    </div>
                    <div class="d-flex btn justify-content-center mt-3 " onclick="off()">
                        Cancel
                    </div>

                </div>
            </div>
        </div>
        <!-- ***************Overlay************* -->
</form>

</section>
{% block js %}
<script src="../static/JS/popup.js"></script>
{% endblock js %}
{% endblock content %}
