{% extends 'layout.html' %} {% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'CSS/register.css') }}"> {% endblock css %} {% block content %}

<div class="container">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ form.username.label}} {% if form.username.errors %} {{ form.username(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                    <span>{{ error }}</span> {% endfor %}
                </div>
                {% else %} {{ form.username(class="form-control form-control-lg") }} {% endif %}
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ form.email.label(class="form-control-label") }} {% if form.email.errors %} {{ form.email(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                    <span>{{ error }}</span> {% endfor %}
                </div>
                {% else %} {{ form.email(class="form-control form-control-lg") }} {% endif %}

                <li class="list-group-item d-flex justify-content-between align-items-center">

                    {{ form.phone.label(class="form-control-label") }} {% if form.phone.errors %} {{ form.phone(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.phone.errors %}
                        <span>{{ error }}</span> {% endfor %}
                    </div>
                    {% else %} {{ form.phone(class="form-control form-control-lg") }} {% endif %}
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">

                    {{ form.password.label(class="form-control-label") }} {% if form.password.errors %} {{ form.password(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                        <span>{{ error }}</span> {% endfor %}
                    </div>
                    {% else %} {{ form.password(class="form-control form-control-lg") }} {% endif %}
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ form.confirm_password.label(class="form-control-label") }} {% if form.confirm_password.errors %} {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.confirm_password.errors %}
                        <span>{{ error }}</span> {% endfor %}
                    </div>
                    {% else %} {{ form.confirm_password(class="form-control form-control-lg") }} {% endif %}
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ form.submit(class="btn btn-outline-info") }}

                </li>
        </ul>
    </form>
</div>
{% endblock content%}