{% extends 'layout.html' %} {% block css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename = 'CSS/storage.css') }}"
/>
{% endblock css %} {% include 'nav.html' %}{% block content %}
<section>
  <section class="my-4">
    <!-- slideshow overlay -->

    <div class="slideshow-container">
      <div class="mySlides slide">
        <img src="../static/images/gpu/banner.png" />
        <div class="text">Caption Text</div>
      </div>

      <div class="mySlides slide">
        <img src="../static/images/main/main 1.png" />
        <div class="text">Caption Two</div>
      </div>

      <div class="mySlides slide">
        <img src="../static/images/main/main 2.png" />
        <div class="text">Caption Three</div>
      </div>
      <div class="mySlides slide">
        <img src="../static/images/main/main 3.png" />
        <div class="text">Caption Three</div>
      </div>
    </div>
    <!-- dots below overlay -->
    <div style="text-align: center">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>
  </section>
  <section class="home-cards mt-5">
    <!-- ***************Overlay************* -->

    <div id="overlay">
      {% for i in ssd %}
      <div class="overlay-flex">
        <div class="overlay-content">
          <div class="overlay-head">{{ i.name }}</div>
          <div class="overlay-description">{{ i.des }}</div>
          <div class="overlay-cart-amt">
            <div class="overlay-amt">${{ i.price }}</div>
            <div class="overlay-cart">Add to Cart</div>
          </div>
        </div>
        <div class="overlay-img">
          <img
            src="{{ url_for('static', filename='images/storage/' +i.img) }}"
          />
        </div>
        <i
          class="close-overlay fa fa-times-circle"
          style="font-size: 25px"
          aria-hidden="true"
          onclick="off()"
        ></i>
      </div>
      {% endfor %}
    </div>

    <!-- ***************Overlay************* -->

    <div class="card-title my-4">SSD</div>
    <div class="card-bg d-grid">
      {% for i in ssd %}
      <div class="card" onclick="on()">
        <img
          class=" "
          src="{{ url_for('static', filename='images/storage/' +i.img) }}"
          alt=" "
        />
        {{i.name}}
      </div>
      {% endfor %}
    </div>
  </section>

  <section class="home-cards center mt-5">
    <div class="card-title my-4">HDD</div>
    <div class="card-bg d-grid">
      {% for i in hdd %}
      <div class="card">
        <img
          class=" "
          src="{{ url_for('static', filename='images/storage/' +i.img) }}"
          alt=" "
        />
        {{i.name}}
      </div>
      {% endfor %}
    </div>
  </section>

  <section class="home-cards mt-5">
    <div class="card-title my-4">PORTABLE SSD</div>
    <div class="card-bg d-grid">
      {% for i in pdisk %}
      <div class="card">
        <img
          class=" "
          src="{{ url_for('static', filename='images/storage/' +i.img) }}"
          alt=" "
        />
        {{i.name}}
      </div>
      {% endfor %}
    </div>
  </section>
  {% include 'footer.html' %}
</section>
{% endblock content %} {% block js %}
<script src="../static/JS/home.js "></script>
<script src="../static/JS/storage.js "></script>
{% endblock js %}
